= render :partial => '/navigation_header'
.container
  %h2 TangoLocation
  %h4 Find tango events wherever you are!
  .input-append
    %input.input-xlarge{type: 'text', id: 'searchTangoKeyword', placeholder:'Enter location or keyword'}
    %button.btn{type:'submit'} Search