= render :partial => '/navigation_header'
.container
  .row
    .span11
      %h1{align:"center"} My Events
  .row
    .span8 &nbsp;
  = render :partial => 'event_list', :locals => {:allow_delete => true}