= render :partial => '/navigation_header'
.container
  %h2 My Events
  %table.table.table-condensed.table-hover
    %tr
      %th Name
      %th Location
      %th Time
    - @events.each do |event|
      %tr
        %td #{event.event_name}
        %td #{event.location.location_name}
        %td #{event.event_time}