.navbar.navbar-inverse
  .navbar-inner
    .container
      %h4.pull-left
        %a{href:'/events/index'} Tango Location
      - if user_signed_in?
        %ul.nav
          %li
            %a{href:'/events/list_user_events'} My Events
          %li
            %a{href:'/events/new'} Create Event
      .pull-right
        - if user_signed_in?
          = link_to "Logout",destroy_user_session_path, class:'btn btn-mini btn-danger'
        - else
          %a.btn.btn-info.btn-mini{href:"#{user_omniauth_authorize_path(:twitter)}"}
            %i.icon-white.icon-thumbs-up
            Connect to Twitter

- if flash[:notice].present?
  .alert.alert-success.container
    = flash[:notice]
- if flash[:alert].present?
  .alert.alert-error.container
    = flash[:alert]
.container
  .row
    .span8 &nbsp;
  .row
    .span8 &nbsp;
